@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

$bodyFont: 'Open Sans', sans-serif;
$btnColor: hsl(257, 40%, 49%);
$btnHover: hsl(300, 69%, 71%);
$text: rgb(255, 255, 255);
$headingFont: 'Poppins', sans-serif;
